<!DOCTYPE html>
<html>

<head>
<title>Electricity Consumption Analysis</title>

<style>

body{
font-family: Arial;
background:#f4f6f9;
text-align:center;
}

h1{
margin-top:30px;
}

</style>

</head>

<body>

<h1>Electricity Consumption Analysis of India</h1>

<div class='tableauPlaceholder' id='viz1773240719301' style='position: relative'>
<noscript>
<a href='#'>
<img alt='Electricity Consumption Analysis of India (2019–2020)' 
src='https://public.tableau.com/static/images/El/ElectricityConsumptionAnalysisofIndia/ElectricityConsumptionAnalysisofIndia20192020/1_rss.png' 
style='border: none' />
</a>
</noscript>

<object class='tableauViz' style='display:none;'>

<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
<param name='embed_code_version' value='3' />
<param name='site_root' value='' />

<param name='name' value='ElectricityConsumptionAnalysisofIndia/ElectricityConsumptionAnalysisofIndia20192020' />

<param name='tabs' value='no' />
<param name='toolbar' value='yes' />

</object>
</div>

<script type='text/javascript'>

var divElement = document.getElementById('viz1773240719301');
var vizElement = divElement.getElementsByTagName('object')[0];

vizElement.style.width='100%';
vizElement.style.height='750px';

var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>

</body>
</html>